#vermelho {
    background-color: rgb(250, 96, 96);
    color: rgb(46, 19, 19);
}

#azul {
    background-color: rgb(74, 74, 255);
    color: rgb(20, 20, 67);
}

#verde {
    background-color: rgb(71, 143, 71);
    color: rgb(23, 46, 23);
}